body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 60px;
}

.cart {
  width: 18px;
}

header {
  background-color: white;
  height: 30px;
  padding: 25px;
}

header li {
  display: inline;
  padding: 0px 5px;
  /* MDN Web Docs list-style: none; gets rid of bullet */
}

header a {
  text-decoration: none;
}

.header-categories a {
  font-size: 18px;
  text-transform: uppercase;
  color: #e85353;
}

.header-accounts a {
  font-size: 14px;
  color: #da586f;
  padding-top: 150px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.top {
  background-image: linear-gradient(to right, #e72b70, #e75f10);
  color: white;
}

.middle {
  background-color: white;
}

.bottom {
  background-image: linear-gradient(to right, #e72b70, #e75f10);
  color: white;
}

footer li {
  display: inline;
  padding: 10px;
}

footer a {
  text-decoration: none;
}

.footer-categories a {
  font-size: 18px;
  text-transform: capitalize;
  color: #e85353;
}

.footer-accounts a {
  font-size: 14px;
  color: #da586f;
  padding-top: 150px;
}
