.black-border {
  border: 1px solid black;
}

.red-border {
  border: 1px solid red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  padding: 5px;
  /* border: 5px dotted black; */
}

.float-left {
  float: left;
  width: 60%;
  display: inline;
}

.float-right {
  float: right;
  display: inline;
}

.logo {
  width: 60px;
  padding-top: 10px;
}

.cart {
  width: 22px;
}

header {
  background-color: white;
  height: 65px;
  /* padding: 25px; */
}

header li {
  display: inline;
  padding: 0px 5px;
}

header a {
  text-decoration: none;
}

.header-categories a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #e85353;
}

.header-accounts a {
  font-size: 14px;
  color: #da586f;
  font-weight: bold;
  /* padding-top: 150px; */
}

ul {
  list-style-type: none;
  padding-inline-start: 5px;
}

section {
  height: 300px;
  background-image: linear-gradient(to right, #e72b70, #e75f10);
  color: white;
  padding: 20px 150px;
}

section img {
  width: 110%;
  padding-right: 25px;
}

div {
  display: inline;
  width: 50%;
  float: left;
}

.middle {
  background-color: white;
}

.bottom {
  background-image: linear-gradient(to right, #e85353, #f3652a);
  color: white;
}

.bottom img {
  width: 25%;
  padding: 50px;
}

footer li {
  display: inline;
  padding: 10px;
}

footer a {
  text-decoration: none;
}

.footer-categories a {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  color: #e85353;
}

.footer-accounts a {
  font-size: 14px;
  color: #f3652a;
  padding-top: 150px;
}

.selected a {
  border-bottom: 4px solid #e85353ba;
  padding-bottom: 6px;
  color: #790909cc;
}
